@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #F9FAFB;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
